/* MODALS */
.bgtransp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.close {
  cursor: pointer;
  padding: 15px;
}

.close:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(16%) sepia(47%) saturate(3671%) hue-rotate(343deg) brightness(97%) contrast(98%);
          filter: brightness(0) saturate(100%) invert(16%) sepia(47%) saturate(3671%) hue-rotate(343deg) brightness(97%) contrast(98%);
}

/* CONTACT MODAL */
#contact_modal {
  display: none;
  position: absolute;
  z-index: 2;
  top: 70px;
  left: calc(50% - 330px);
}

#contact_modal .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 660px;
  border-radius: 5px;
  background-color: var(--light-pink);
  padding: 35px;
  margin: auto;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

#contact_modal .modal header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

#contact_modal .modal header h2 {
  font-size: 64px;
  font-weight: normal;
  color: black;
  margin: 0 0 20px 0;
}

#contact_modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#contact_modal form label {
  color: #312E2E;
  font-size: 36px;
  margin-top: 26px;
}

#contact_modal form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

#contact_modal form .fieldText {
  width: 100%;
  min-width: 50px;
  resize: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 30px;
}

#contact_modal form .comment {
  display: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: var(--red);
}

#contact_modal form .btn-submit {
  margin: 20px 0;
}

/* PHOTO MODAL */
#photo_modal {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  width: 50%;
}

#photo_modal .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: content;
      flex-basis: content;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  padding: 20px 0;
  border-radius: 5px;
}

#photo_modal .modal .close {
  -webkit-filter: brightness(0) saturate(100%) invert(16%) sepia(47%) saturate(3671%) hue-rotate(343deg) brightness(97%) contrast(98%);
          filter: brightness(0) saturate(100%) invert(16%) sepia(47%) saturate(3671%) hue-rotate(343deg) brightness(97%) contrast(98%);
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
}

#photo_modal .modal .close:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(40%) sepia(18%) saturate(2167%) hue-rotate(324deg) brightness(103%) contrast(91%);
          filter: brightness(0) saturate(100%) invert(40%) sepia(18%) saturate(2167%) hue-rotate(324deg) brightness(103%) contrast(91%);
}

#photo_modal .modal nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#photo_modal .modal nav .previous, #photo_modal .modal nav .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  color: var(--red);
  height: 100%;
  cursor: pointer;
  font-size: 50px;
}

#photo_modal .modal nav .previous:hover, #photo_modal .modal nav .next:hover {
  color: var(--red-hover);
}

#photo_modal .modal nav .photo-details * {
  width: 100%;
}

#photo_modal .modal .photo {
  border-radius: 5px;
}

@media screen and (max-width: 1600px) {
  #photo_modal {
    width: 70%;
  }
}

@media screen and (max-width: 992px) {
  #contact_modal {
    width: 500px;
    left: calc(50% - 250px);
  }
  #contact_modal .modal {
    padding: 0;
  }
  #contact_modal .modal header {
    padding: 20px;
    width: 100%;
  }
  #contact_modal .modal header h2 {
    font-size: 48px;
  }
  #contact_modal .modal header .close {
    width: 60px;
  }
  #contact_modal .modal #contact_form {
    width: 90%;
  }
  #photo_modal {
    left: 0;
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  #contact_modal {
    width: 100%;
    left: 0;
  }
  #contact_modal .modal {
    width: 100%;
  }
  #contact_modal .modal header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact_modal .modal header h2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 36px;
  }
  #contact_modal .modal header .close {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  #contact_modal .modal label {
    font-size: 24px;
  }
  #photo_modal .modal {
    padding: 30px 0;
  }
  #photo_modal .modal .close {
    z-index: 3;
    top: -15px;
    right: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    padding: 10px;
  }
  #photo_modal .modal nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #photo_modal .modal nav .previous {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
    height: 100%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
  #photo_modal .modal nav .previous:hover, #photo_modal .modal nav .previous:active {
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }
  #photo_modal .modal nav .next {
    position: absolute;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
    color: var(--red);
    height: 100%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
  #photo_modal .modal nav .next:hover, #photo_modal .modal nav .next:active {
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }
  #photo_modal .modal nav .photo {
    border-radius: 0;
  }
  #photo_modal .modal h3 {
    font-size: 15px;
    margin-left: 10px;
  }
}
/*# sourceMappingURL=modal.css.map */