* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px dashed red;*/
}

button {
  cursor: pointer;
  background-color: var(--red);
  padding: 20px;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

button:hover, button:active {
  background-color: var(--red-hover);
  color: black;
}

/* PHOTOGRAPH HEADER */
.photograph-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: var(--grey);
  height: 300px;
  margin: 0 100px;
}

.photograph-header .info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photograph-header .info h1 {
  color: var(--red-hover);
  margin: 15px 0;
}

.photograph-header .info address {
  font-style: normal;
  font-size: 31px;
  color: var(--red);
  margin: -10px 0;
}

.photograph-header .info blockquote {
  font-size: 23px;
  color: var(--medium-grey);
  margin-left: 0;
}

.photograph-header .contact_button {
  margin: 100px 0;
  height: 70px;
}

.photograph-header .profile {
  position: relative;
}

.photograph-header .photo-profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-mask: url("#svgmask");
          mask: url("#svgmask");
}

.photograph-header .shadow {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-blend-mode: multiply;
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.7) 50%, transparent 70%);
          mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.7) 50%, transparent 70%);
  -webkit-transform: scaleX(95%);
          transform: scaleX(95%);
  position: absolute;
  top: 0;
}

/* SECTION PORTFOLIO */
.portfolio {
  position: relative;
  margin: 50px 100px;
  font-size: 20px;
  font-weight: bold;
}

.portfolio .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .sort strong {
  margin-top: 20px;
}

.portfolio .sort .sort-select {
  position: relative;
  width: 250px;
}

.portfolio .sort .sort-select ul {
  position: absolute;
  top: -5px;
  z-index: 1;
  padding: 10px 10px;
  margin: 0 20px;
  width: 200px;
  border-radius: 5px;
  list-style: none;
  background-color: var(--red);
  color: white;
  cursor: pointer;
}

.portfolio .sort .sort-select ul * {
  cursor: pointer;
}

.portfolio .sort .sort-select ul li {
  position: relative;
  padding: 15px 0 15px 10px;
  border-bottom: 1px solid white;
}

.portfolio .sort .sort-select ul li:hover {
  color: var(--light-pink);
}

.portfolio .sort .sort-select ul li .fa-chevron-down {
  display: none;
  position: absolute;
  right: 10px;
}

.portfolio .sort .sort-select ul li .fa-chevron-up {
  display: none;
  position: absolute;
  right: 10px;
}

.portfolio .sort .sort-select ul li input[type=radio] {
  display: none;
}

.portfolio .sort .sort-select ul li label {
  padding: 10px 50% 10px 0;
}

.portfolio .sort .sort-select ul li.active {
  display: block;
}

.portfolio .sort .sort-select ul li.active:nth-child(1) .fa-chevron-up {
  display: block;
}

.portfolio .sort .sort-select ul li.inactive {
  display: none;
}

.portfolio .sort .sort-select ul li.inactive.selected {
  display: block;
  border-bottom: 0;
}

.portfolio .sort .sort-select ul li.inactive.selected .fa-chevron-down {
  display: block;
}

.portfolio .sort .sort-select ul li:nth-last-child(1) {
  border-bottom: 0;
}

.portfolio .portfolio-imgs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 50px 0;
}

.portfolio .portfolio-imgs article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 1.2vw;
}

.portfolio .portfolio-imgs article .photo {
  /* Square responsive imgs */
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 5px;
  margin-bottom: -10px;
  cursor: pointer;
}

.portfolio .portfolio-imgs article .photo .fa-play-circle {
  font-size: 50px;
  color: white;
  opacity: .5;
  text-shadow: 1px 1px 5px black;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.portfolio .portfolio-imgs article h3 {
  color: var(--red);
}

.portfolio .portfolio-imgs article .rating {
  cursor: pointer;
  padding: 5px;
  color: var(--red);
}

.portfolio .portfolio-imgs article .rating:hover {
  color: var(--red-hover);
}

.portfolio .portfolio-imgs article .rating:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* COUNTER */
.counter {
  position: fixed;
  bottom: 0px;
  right: 40px;
  padding: 15px 10px;
  border-radius: 5px 5px 0 0;
  background-color: var(--light-pink);
}

.counter .counter-count {
  margin: 0 20px;
}

/* MODALS */
.bgtransp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.close {
  cursor: pointer;
  padding: 15px;
}

.close:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(16%) sepia(47%) saturate(3671%) hue-rotate(343deg) brightness(97%) contrast(98%);
          filter: brightness(0) saturate(100%) invert(16%) sepia(47%) saturate(3671%) hue-rotate(343deg) brightness(97%) contrast(98%);
}

/* CONTACT MODAL */
#contact_modal {
  display: none;
  position: absolute;
  z-index: 2;
}

#contact_modal * {
  /*border: 1px dashed red;*/
}

#contact_modal .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 660px;
  border-radius: 5px;
  background-color: var(--light-pink);
  padding: 35px;
  margin: auto;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

#contact_modal .modal header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

#contact_modal .modal header h2 {
  font-size: 64px;
  font-weight: normal;
  color: black;
  margin: 0 0 20px 0;
}

#contact_modal .modal textarea {
  width: 100%;
  resize: none;
}

#contact_modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#contact_modal form label {
  color: #312E2E;
  font-size: 36px;
}

#contact_modal form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  margin-bottom: 26px;
}

#contact_modal form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* PHOTO MODAL */
#photo_modal {
  display: none;
  position: absolute;
  left: 100px;
  z-index: 2;
}

#photo_modal .modal {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 20px 0;
  border-radius: 5px;
}

#photo_modal .modal .close {
  -webkit-filter: brightness(0) saturate(100%) invert(16%) sepia(47%) saturate(3671%) hue-rotate(343deg) brightness(97%) contrast(98%);
          filter: brightness(0) saturate(100%) invert(16%) sepia(47%) saturate(3671%) hue-rotate(343deg) brightness(97%) contrast(98%);
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
}

#photo_modal .modal .close:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(40%) sepia(18%) saturate(2167%) hue-rotate(324deg) brightness(103%) contrast(91%);
          filter: brightness(0) saturate(100%) invert(40%) sepia(18%) saturate(2167%) hue-rotate(324deg) brightness(103%) contrast(91%);
}

#photo_modal .modal nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#photo_modal .modal nav .previous, #photo_modal .modal nav .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  font-size: 50px;
  color: var(--red);
  height: 100%;
  cursor: pointer;
}

#photo_modal .modal nav .previous:hover, #photo_modal .modal nav .next:hover {
  color: var(--red-hover);
}

#photo_modal .modal .photo {
  border-radius: 5px;
}

#photo_modal h3 {
  color: var(--red);
}
/*# sourceMappingURL=photographer.css.map */