button {
  cursor: pointer;
  background-color: var(--red);
  padding: 20px;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

button:hover, button:active {
  background-color: var(--red-hover);
  color: black;
}

/* PHOTOGRAPH HEADER */
.photograph-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: var(--grey);
  height: 300px;
  margin: 0 100px;
}

.photograph-header .info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photograph-header .info h1 {
  color: var(--red-hover);
  margin: 15px 0;
}

.photograph-header .info address {
  font-style: normal;
  font-size: 28px;
  color: var(--red);
}

.photograph-header .info blockquote {
  font-size: 18px;
  color: var(--medium-grey);
  margin-left: 0;
}

.photograph-header .contact_button {
  margin: 100% 0;
  height: 70px;
}

.photograph-header .profile {
  position: relative;
}

/* SECTION PORTFOLIO */
.portfolio {
  position: relative;
  margin: 50px 100px;
  font-size: 20px;
  font-weight: bold;
}

.portfolio .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .sort strong {
  margin-top: 20px;
}

.portfolio .sort .sort-select {
  position: relative;
  width: 250px;
}

.portfolio .sort .sort-select fieldset {
  border: 0;
  padding: 0;
}

.portfolio .sort .sort-select ul {
  position: absolute;
  top: -5px;
  z-index: 1;
  padding: 10px 10px;
  margin: 0 20px;
  width: 200px;
  border-radius: 5px;
  list-style: none;
  background-color: var(--red);
  color: white;
  cursor: pointer;
}

.portfolio .sort .sort-select ul * {
  cursor: pointer;
}

.portfolio .sort .sort-select ul li {
  position: relative;
  padding: 15px 0 15px 10px;
  border-bottom: 1px solid white;
}

.portfolio .sort .sort-select ul li:hover {
  color: var(--light-pink);
}

.portfolio .sort .sort-select ul li .fa-chevron-down {
  display: none;
  position: absolute;
  right: 10px;
}

.portfolio .sort .sort-select ul li .fa-chevron-up {
  display: none;
  position: absolute;
  right: 10px;
}

.portfolio .sort .sort-select ul li input[type=radio] {
  display: none;
}

.portfolio .sort .sort-select ul li label {
  padding: 10px 50% 10px 0;
}

.portfolio .sort .sort-select ul li.active {
  display: block;
}

.portfolio .sort .sort-select ul li.active:nth-child(1) .fa-chevron-up {
  display: block;
}

.portfolio .sort .sort-select ul li.inactive {
  display: none;
}

.portfolio .sort .sort-select ul li.inactive.selected {
  display: block;
  border-bottom: 0;
}

.portfolio .sort .sort-select ul li.inactive.selected .fa-chevron-down {
  display: block;
}

.portfolio .sort .sort-select ul li:nth-last-child(1) {
  border-bottom: 0;
}

.portfolio .portfolio-imgs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 50px 0;
}

.portfolio .portfolio-imgs article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.portfolio .portfolio-imgs article .photo {
  /* Square responsive imgs */
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 5px;
  margin-bottom: -10px;
  cursor: pointer;
}

.portfolio .portfolio-imgs article .photo .fa-play-circle {
  font-size: 50px;
  color: white;
  opacity: .5;
  text-shadow: 1px 1px 5px black;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.portfolio .portfolio-imgs article .rating {
  cursor: pointer;
  padding: 5px;
  color: var(--red);
}

.portfolio .portfolio-imgs article .rating:hover {
  color: var(--red-hover);
}

.portfolio .portfolio-imgs article .rating:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* COUNTER */
.counter {
  position: fixed;
  bottom: 0px;
  right: 40px;
  padding: 15px 10px;
  border-radius: 5px 5px 0 0;
  background-color: var(--light-pink);
}

.counter .counter-count {
  margin: 0 20px;
}

@media screen and (max-width: 992px) {
  .photograph-header .info {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 5%;
    height: auto;
  }
  .photograph-header .info h1 {
    margin-bottom: 10px;
  }
  .photograph-header .info address {
    font-size: 24px;
  }
  .photograph-header .info blockquote {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .photograph-header .contact_button {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0;
    margin-left: 5%;
  }
  .sort {
    font-size: 18px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .portfolio {
    margin: 60px;
  }
  .portfolio .portfolio-imgs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin: 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .photograph-header {
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
    margin: 0 40px;
  }
  .photograph-header .info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 0;
    height: auto;
  }
  .photograph-header .info h1 {
    margin-bottom: 10px;
  }
  .photograph-header .info address {
    font-size: 24px;
  }
  .photograph-header .info blockquote {
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
  }
  .photograph-header .contact_button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
  }
  .sort {
    position: relative;
    top: -50px;
    font-size: 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  .sort strong {
    position: relative;
    top: -10px;
  }
  .sort .sort-select {
    left: -20px;
  }
  .portfolio {
    margin: 40px;
  }
  .portfolio .portfolio-imgs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 70px;
    margin: 50px 0;
  }
  .portfolio .portfolio-imgs h3, .portfolio .portfolio-imgs .rating {
    font-size: 15px;
  }
  .counter {
    position: fixed;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    padding: 5px 10px;
    border-radius: 0;
  }
  .counter .counter-count {
    font-size: 15px;
  }
}
/*# sourceMappingURL=photographer.css.map */