* {
    box-sizing: border-box;
    /*border: 1px dashed red;*/
}

button {
    cursor: pointer;
    background-color: var(--red);
    padding: 20px 40px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    &:hover, &:active {
        background-color: var(--red-hover);
        color: black;
    }
}


/* PHOTOGRAPH HEADER */
.photograph-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    .info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*line-height: 10px;*/
        h1 {
            color: var(--red-hover);
            margin: 15px 0;
        }
        address {
            font-style: normal;
            font-size: 31px;
            color: var(--red);
            margin: -10px 0;
        }
        blockquote {
            font-size: 23px;
            color: var(--medium-grey);
            margin-left: 0;
        }
    }
    .contact_button {
        font-size: 20px;
        padding: 11px;
        margin: 100px 0;
        width: 170px;
        height: 70px;
    }
    .profile {
        position: relative;
    }
    .photo-profile {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        mask: url("#svgmask");
    }
    .shadow {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-blend-mode:multiply;
        mask-image:  radial-gradient(circle, rgba(0,0,0,.7) 50%, transparent 70%);
        transform: scaleX(95%);
        position: absolute;
        top: 0;
    }
}



/* SECTION PORTFOLIO */
.portfolio {
    margin: 50px 100px;
    .portfolio-imgs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
        margin: 50px 0;
        article {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: baseline;
            font-size: 1.2vw;
            .photo {
                /* Square responsive imgs */
                position: relative;
                width: 100%;
                padding-top: 100%;
                border-radius: 5px;
                margin-bottom: -10px;
                cursor: pointer;
                .fa-play-circle {
                    font-size: 50px;
                    color: white;
                    opacity: .5;
                    text-shadow: 1px 1px 5px black;
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 30px;
                }
            }
            h3 {
                color: var(--red);
            }
            .rating {
                cursor: pointer;
                padding: 5px;
                color: var(--red);
                    &:hover {
                        color: var(--red-hover);
                    }
                    &:active {
                        transform: scale(1.2);
                    }
            }
        }
    }
}

/* MODALS */
.bgtransp {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
}

.close {
    cursor: pointer;
    padding: 15px;
    &:hover {
        filter: brightness(0) saturate(100%) invert(40%) sepia(18%) saturate(2167%) hue-rotate(324deg) brightness(103%) contrast(91%);
    }
}

// TODO: resize modals on window.resize
/* CONTACT MODAL */
#contact_modal {
    display: none;
    position: absolute;
    z-index: 2;
    * {
        /*border: 1px dashed red;*/
    }
    .modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 660px;
        border-radius: 5px;
        background-color: #DB8876;
        padding: 35px;
        margin: auto;
        box-shadow: 3px 3px 5px rgba(0,0,0,.4);
        header {
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            h2 {
                font-size: 64px;
                font-weight: normal;
                color: black;
                margin: 0 0 20px 0;
            }
        }
        textarea {
            width: 100%;
            resize: none;
        }

    }
    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        label {
            color: #312E2E;
            font-size: 36px;
        }
        div {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: self-start;
            margin-bottom: 26px;
        }
        input {
            width: 100%;
            height: 68px;
            border: none;
            border-radius: 5px;
        }
    }
}

/* PHOTO MODAL */
#photo_modal {
    display: none;
    position: absolute;
    left: 100px;
    z-index: 2;
    .modal {
        position: relative;
        background-color: white;
        box-shadow: 3px 3px 5px rgba(0,0,0,.4);
        width: 100%;
        padding: 20px 0;
        border-radius: 5px;
        .close {
            // change SVG color to #901C1C (var(--red))
            filter: brightness(0) saturate(100%) invert(16%) sepia(47%) saturate(3671%) hue-rotate(343deg) brightness(97%) contrast(98%);
            position: absolute;
            top: 0;
            right: 0;
            padding: 30px;
            &:hover {
                filter: brightness(0) saturate(100%) invert(40%) sepia(18%) saturate(2167%) hue-rotate(324deg) brightness(103%) contrast(91%);
            }
        }
        nav {
            display: flex;
            height: 100%;
            align-items: stretch;
            .previous, .next {
                display: flex;
                align-items: center;
                padding: 30px;
                font-size: 50px;
                color: var(--red);
                height: 100%;
                cursor: pointer;
                &:hover {
                    color: var(--red-hover);
                }
            }
        }
        .photo {
            border-radius: 5px;
        }
    }
    h3 {
        color: var(--red);
    }
}