@import url("./photographer.css");
@import url("./modal.css");

body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    --red: #901C1C;
    --red-hover: #D3573C;
    --light-pink: #DB8876;
    --grey: #fafafa;
    --medium-grey: #757575;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 32px;
}
h3, .rating {
    font-size: 20px;
    color: var(--red);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: 0 100px;
    h2 {
        color: var(--red);
    }
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px;
}

.photographer_section article {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: flex-start;
    align-items: center;
    * {
        text-align: center ;
        margin-bottom: 5px;
    }
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    h1 {
        color: var(--red-hover);
    }
    address {
        color: var(--red);
        font-size: 17px;
        font-style: normal;
        margin-bottom: -10px;
    }
    blockquote {
        font-size: 13px;
    }
    data {
        color: var(--medium-grey);
        font-size: 12px;
    }
}

.photo-profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    mask: url("#svgmask");
}

.shadow {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 5px;
    background-blend-mode:multiply;
    mask-image:  radial-gradient(circle, rgba(0,0,0,.7) 50%, transparent 70%);
    transform: scaleX(.95);
    position: absolute;
    top: 0;
}

// TABLET
@media screen and (max-width:992px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 28px;
    }
    .photographer_section {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin: 70px 40px;
    }
}

// MOBIL
@media screen and (max-width:768px) {
    header {
        flex-direction: column;
        margin-top: 20px;
        h2 {
            white-space: nowrap;
        }
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    .photographer_section {
        grid-template-columns: 1fr;
    }
}